@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

/* nav styling */

nav {
    color: white;
    background-color: black;
}

li {
    display: inline-flex;
    padding: 10px;
}

ul {
    padding-top: 15px;
    box-sizing: border-box;
}

.logo {
    width: 15%;
}

.img {
    width: 30px;
    height: 10%;
}

/* main body styling */

.page-container {
    background-color: rgb(255, 160, 36);
    color: white;
    width: 90%;
    min-height: 90vh;
    min-width: 90vw;
    border-radius: 20px;
}

.post {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.618);
    color: black;
    border-width: 5px;
    border-style: double;
    border-color:lightyellow;
    border-radius: 20px;
}

.input {
    font-weight: bold;
}

label {
    text-align: center;
}

/* button styles */

.react {
    margin: 5px;
}

.react:hover {
    box-shadow: 0 5px 10px 0 rgba(170, 170, 170, 0.8);
}

.react-buttons {
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
}

.emoji-count {
    display: flex;
    flex-direction: column;
}

button {
    border-style: none;
    border-radius: 50px;
    padding: 0 10px 0 10px;
}

#love {
    color: red;
}


/* footer styles */

.footer {
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-bottom: 15px;
}


@media only screen and (max-width: 600px) {

    .page-container{
        background-color: lime;
    }


    .footer {
        text-align: center;
        font-size: small;
    }


}
