*{
    font-family: arial, sans-serif;
    font-size: 20px;
}

/* nav styles */

nav {
    color: white;
}

li {
    display: inline-flex;
    padding: 10px;  
}

.img {
    width: 5%;
}

/* main body styling */

table, th, td {
    border: 1px solid white;
  }

.table-container {
    background-color: rgb(17, 155, 86);
    color: white;
    width: 90%;
    height: 500px;
    border-radius: 20px;

}


#plus-icon{
    border-radius: 100px;
    border-width: 3px;
    border-color: white;
}

/* footer styling */

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}
