li {
    display: inline-flex;
    padding: 10px;
}

ul {
    padding-top: 15px;
    box-sizing: border-box;
}

#entry {
    height: 100px;
}

#entryHelp {
    text-align: right;
}

.main-section {
    width: 90%;
    background-color: aquamarine;
    border-radius: 20px;
}

#heading {
    width: 90%;
    margin: 20px;
}

.label {
    font-weight: bolder;
    font-size: larger;
}

.img {
    width: 5%;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
}

