*{
    font-family: arial, sans-serif;
    font-size: 20px;
}

nav{
    color: white;
}


li{
    display: inline-flex;
    padding: 10px;  
}

img{
    width: 4%;
}

table, th, td {
    border: 1px solid white;
  }

.page-container{
    background-color: rgb(54, 54, 54);
    color: white;
    width: 90%;
    min-height: 90vh;
    min-width: 90vw;
    border-radius: 20px;

}

.post{
    width: 95%;
    background-color: rgba(107, 211, 211, 0.6);
    color: black;
    border-width: 5px;
    border-style: double;
    border-radius: 20px;

}


.react:hover{
    background-color: orange;
}

.react-buttons{
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
}

.emoji-count{
    display: flex;
    flex-direction: column;
}

table{
    
}

#plus-icon{
    border-radius: 100%;
    border-width: 3px;
    border-color: white;
}

label{
    text-align: center;
}